<mat-expansion-panel>
    <mat-expansion-panel-header appColor>
      <mat-panel-title>
        {{ employee.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{ employee.hireDate | date }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-form-field appColor>
      <input matInput placeholder="Role"
      [value]="employee.role">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Initials" [value]='employee.name | initials:true'>
    </mat-form-field>

    #Kubko je super
    <button mat-button (click)="delete.emit(employee)">Delete</button>

  </mat-expansion-panel>